.centre
{
    margin-top: 50px;
    text-align: center;
    font-size: 180%;
}
.head
{
    
    vertical-align: top;
    display: inline-block;
}
.headd
{
    display: inline-block;
}
.drum
{
    max-width: 100px;
    max-height: 100px;
}

.img
{
    display: inline-block;
    margin-left: 400px;
    margin-top: 100px
}
.i1
{
    max-width: 100px;
    max-height: 100px;
}

.i2
{
    max-width: 100px;
    max-height: 100px;
}

.i3
{
    max-width: 100px;
    max-height: 100px;
}

.i4
{
    max-width: 100px;
    max-height: 100px;
}

.i5
{
    max-width: 100px;
    max-height: 100px;
}

.i6
{
    max-width: 100px;
    max-height: 100px;
}

.i7
{
    max-width: 100px;
    max-height: 100px;
}